:root {
  --light-text: #000000;
  --dark-text: #f1f1f1;
  --theme-transition: 300ms background-color, 300ms color, 300ms border;
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 0.9rem !important;
  }
  .title-tile,
  .title-tile-2 {
    font-size: 1.2rem !important;
    width: 1.3rem !important;
    height: 1.3rem !important;
  }
  .help-button-svg {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
  .stats-button-svg {
    height: 1.4rem !important;
    width: 1.4rem !important;
  }
  .settings-button-svg {
    height: 1.4rem !important;
    width: 1.4rem !important;
  }
  .trophy-button-svg {
    height: 1.4rem !important;
    width: 1.4rem !important;
  }
  .menu-right {
    gap: 0.1rem !important;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
  .title-tile,
  .title-tile-2 {
    font-size: 1.6rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 0.4rem !important;
  }
  .help-button-svg {
    height: 1.85rem;
    width: 1.85rem;
  }
  .stats-button-svg {
    height: 1.6rem;
    width: 1.6rem;
  }
  .trophy-button-svg {
    height: 1.6rem;
    width: 1.6rem;
  }
  .settings-button-svg {
    height: 1.8rem;
    width: 1.8rem;
    margin-top: 0.1rem;
  }
  .menu-right {
    gap: 0.2rem;
    padding: 0;
  }
  .title-container {
    justify-content: flex-start !important;
    margin-left: 0.5rem !important;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
  .title-tile,
  .title-tile-2 {
    font-size: 2.5rem !important;
    width: 2.5rem;
    height: 2.5rem;
  }
  .help-button-svg {
    width: 3rem;
    height: 3rem;
  }
  .stats-button-svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .trophy-button-svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .settings-button-svg {
    width: 2.8rem;
    height: 2.8rem;
  }
  .menu-right {
    gap: 0.5rem;
  }
}

.appbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-bottom: 1px solid grey;
  transition: var(--theme-transition);
}

.title-container {
  background-color: white;
  margin-left: 8rem;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  font-family: var(--font);
  user-select: none;
  font-weight: 100;
  padding: 0.2rem;
  z-index: 400;
  transition: var(--theme-transition);
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  user-select: none;
  font-weight: 700;
  transition: var(--theme-transition);
}

.title-tile,
.title-tile-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(61, 61, 61);
  color: black;
  margin: 0.2rem;
  border-radius: 0.5rem;
  background-color: white;
  user-select: none;
  font-weight: 500 !important;
  transition: var(--theme-transition);
}

.menu-left {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.trophy-button {
  all: unset;
  cursor: pointer !important;
}

.menu-right {
  display: flex;
  justify-content: flex-end;
  padding: 0rem 1rem;
  margin-top: 0.5rem;
}

.help-button {
  all: unset;
  cursor: pointer !important;
}

.stats-button {
  all: unset;
  cursor: pointer !important;
  margin-right: 0.15rem;
}

.settings-button {
  all: unset;
  cursor: pointer !important;
  margin-bottom: 0.1rem;
}

.animate-delay-short {
  animation: flip 0.3s ease;
  animation-delay: 0.3s;
}

.animate-delay-medium {
  animation: flip 0.3s ease;
  animation-delay: 0.5s;
}

.animate-delay-long {
  animation: flip 0.3s ease;
  animation-delay: 0.8s;
}
