:root {
  --font: "Lato", sans-serif;
}

.board-section {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  overflow: hidden;
  height: calc(90% - 87px) !important;
  margin: 0 auto;
}

.board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.board {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.hud-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.next-letters-title {
  padding: 0.5rem;
}

.next-letters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.found-words-container {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  bottom: 1rem;
  z-index: 100;
  overflow: hidden;
  cursor: pointer;
}

.found-words-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  border: 2px solid grey;
  border-radius: 0.5rem;
  height: 1.25rem;
  background-color: white;
  overflow: auto;
}

.found-words-list {
  padding: 1rem;
}

.found-word-text {
  padding: 0.25rem;
  font-size: 1.5rem;
}

.swaps-container {
  padding: 0.5rem;
  border: 2px solid grey;
  border-radius: 0.5rem;
  width: 4rem;
  text-align: center;
}

.time-container {
  padding: 0.5rem;
  border: 2px solid grey;
  border-radius: 0.5rem;
  width: 6.5rem;
  text-align: center;
}

.hud-text {
  align-self: center;
  font-family: var(--font);
}

@media screen and (max-width: 1024px) {
  .tile {
    font-size: 2.2rem;
    width: 50px;
    height: 50px;
  }
  .small-tile {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 1.5rem;
  }
  .medium-tile {
    width: 2.5rem !important;
    height: 2.5rem !important;
    font-size: 2rem;
  }
  .next-letters-container {
    font-size: 1rem;
  }
  .found-words-box {
    width: 18rem;
  }
  .swaps-container {
    width: 4rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .tile {
    font-size: 3rem;
    width: 70px;
    height: 70px;
  }
  .small-tile {
    width: 3rem !important;
    height: 3rem !important;
    font-size: 2rem;
  }
  .medium-tile {
    width: 3.5rem !important;
    height: 3.5rem !important;
    font-size: 2.5rem;
  }
  .next-letters-container {
    font-size: 1.5rem;
  }
  .found-words-box {
    width: 25rem;
  }
  .swaps-container {
    width: 5rem;
    font-size: 1.5rem;
  }
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0.2rem;
  border-radius: 0.5rem;
  background-color: white;
  transition: background-color 200ms, width 0.5s, height 0.5s, font-size 0.5s;
  user-select: none;
}

.small-tile,
.medium-tile {
  border: 2px solid grey;
}

.found-word {
  background-color: greenyellow !important;
}

.tile:hover {
  cursor: pointer;
  background-color: azure;
}

.animate {
  animation: flip 0.3s ease;
}

.hide {
  display: none !important;
}

@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
