:root {
  --font: sans-serif;
  user-select: none;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  user-select: none;
  font-size: 2rem;
  font-weight: 100;
  padding: 2rem;
}

.title {
  text-align: center;
  font-family: var(--font);
  user-select: none;
  font-size: 2rem;
  font-weight: 100;
}

.title-tile {
  display: inline-flex;
  justify-content: center;
  border: 2px solid grey;
  color: black;
  font-size: 3rem !important;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  background-color: white;
  user-select: none;
}
