:root {
  --font: "Lato", sans-serif;
  user-select: none;
}

/* Define the scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
}

/* Define the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Define the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 1.5rem;
  }
  .title-tile {
    font-size: 2.5rem !important;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }
  .title-tile {
    font-size: 4rem !important;
    width: 4rem;
    height: 4rem;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  user-select: none;
  font-weight: 100;
  padding: 0.2rem;
  border-bottom: 1px solid grey;
}

.title {
  text-align: center;
  font-family: var(--font);
  user-select: none;
  font-weight: 100;
}

.title-tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(61, 61, 61);
  color: black;
  margin: 0.2rem;
  border-radius: 0.5rem;
  background-color: white;
  user-select: none;
}
