:root {
  --font: "Lato", sans-serif;
  user-select: none;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  user-select: none;
  font-size: 2rem;
  font-weight: 100;
  padding: 0.2rem;
  border-bottom: 1px solid grey;
}

.title {
  text-align: center;
  font-family: var(--font);
  user-select: none;
  font-size: 2rem;
  font-weight: 100;
}

.title-tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid grey;
  color: black;
  font-size: 3rem !important;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  background-color: white;
  user-select: none;
}
