:root {
  --font: "Lato", sans-serif;
  --dark-gray: #505050;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.6);
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 201;
  animation: fadeIn 400ms;
  font-family: var(--font);
}

.closed {
  animation: fadeOut 400ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

/* How to play modal styles */

.how-to-play-title {
  font-size: 2rem;
  line-height: 0.2;
  font-weight: 600;
}
.how-to-play-subtitle {
  font-size: 1.1rem;
  font-weight: 600;
}

.how-to-play-instructions {
  line-height: 1.5;
}
