:root {
  --font: "Cabin", sans-serif;
  --dark-gray: #505050;

  --light-background: #ffffff;
  --light-text: #000000;
  --dark-background: #333333;
  --dark-text: #f1f1f1;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  height: calc(100% - 60px);
  padding-top: 60px;
}

@media screen and (max-width: 320px) {
  .modal-title {
    font-size: 1.5rem !important;
  }
  .modal-subtitle {
    font-size: 0.8rem !important;
  }
  .modal-subtitle-small {
    font-size: 0.8rem !important;
  }
  .how-to-play-instructions {
    font-size: 0.8rem !important;
  }
  .how-to-play-point-description-list > li {
    font-size: 0.75rem !important;
  }
  .modal-rank {
    font-size: 0.8rem !important;
    margin-top: 1.8rem !important;
  }
  .modal-sub-text {
    font-size: 0.8rem !important;
    line-height: 1 !important;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  .modal-sub-text-small {
    font-size: 0.8rem !important;
  }
  .share-button {
    padding: 0.15rem 0.7rem !important;
  }

  .share-button-container {
    gap: 0 !important;
  }

  .play-again-button {
    padding: 0.4rem 0.5rem !important;
  }
  .copyright-text {
    margin: 1rem 0rem !important;
    font-size: 0.9rem !important;
  }
  .leaderboard-entry {
    font-size: 0.74rem !important;
  }
  .leaderboard-content {
    min-width: 215px !important;
  }
  .daily-leaderboard-button,
  .monthly-leaderboard-button,
  .alltime-leaderboard-button {
    padding: 0.3rem 0.25rem !important;
    border-radius: 0.8rem !important;
  }
}

@media screen and (max-width: 500px) {
  .modal-container {
    align-items: flex-end;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 201;
  animation: fadeIn 400ms;
  font-family: var(--font);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 92%;
}

.closed {
  animation: fadeOut 400ms;
}

.close-button {
  all: unset;
  cursor: pointer !important;
  position: absolute !important;
  top: 1rem !important;
  right: 1rem !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

/* How to play modal styles */

.modal-title {
  margin-top: 2.5rem;
  font-size: 2rem;
  line-height: 0;
  font-weight: 600;
}
.modal-subtitle {
  font-size: 1.1rem;
  font-weight: 600;
}
.modal-subtitle-small {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0.25;
}
.modal-rank {
  font-size: 1rem;
  line-height: 0.3;
  margin-top: 2rem;
  white-space: nowrap;
}
.modal-sub-text {
  font-size: 1rem;
}

.modal-sub-text,
.modal-sub-text-small {
  line-height: 2.75;
}

.modal-sub-text-small {
  font-size: 1rem;
}

.how-to-play-instructions {
  line-height: 1.5;
  font-size: 0.94rem;
}

.how-to-play-point-description-list > li {
  font-size: 0.88rem;
}

.how .weekly-score-container {
  display: flex;
  flex-direction: column;
}

.modal-bottom-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.play-again-container {
  align-self: center;
}

.share-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.share-button {
  all: unset;
  padding: 0.3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

.play-again-button {
  all: unset;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

.donate-link {
  all: unset;
  padding: 0.3rem 1.25rem 0.42rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

.theme-container,
.sound-container {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}

.theme-button,
.sound-button {
  all: unset;
  cursor: pointer !important;
}

.theme-button-svg {
  height: 2rem;
  width: 2rem;
}

.sound-button-svg {
  height: 2rem;
  width: 2rem;
}

.copyright-text {
  margin: 1rem 2rem;
}

.bonus-letter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Leaderboard modal */
.leaderboard-content {
  min-width: 290px;
}

.leaderboard-type-container {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: -0.5rem 0rem 0.75rem 0rem;
}

.daily-leaderboard-button,
.monthly-leaderboard-button,
.alltime-leaderboard-button {
  all: unset;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 600;
}

.leaderboard-entry {
  line-height: 1.5;
  font-size: 1rem;
}

.leaderboard-entry-medal {
  font-weight: 600;
}

/* Username modal */
.username-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.username-label {
  align-self: flex-start;
}

.username-form {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.username-input {
  all: unset;
  padding: 0.2rem;
  border-radius: 0.3rem;
  width: 75%;
  text-align: center;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.username-save-button {
  all: unset;
  cursor: pointer;
}

.username-save-svg {
  margin-top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
}
